<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lineup Builder</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='bceltic.ico') }}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<style>
		div.draggable-card{
			width:400px;
			height:100px;
			border: solid 2px #FF3300;
			border-radius: 8px;
			-moz-border-radius: 8px; 
			-webkit-border-radius: 8px; 	
			overflow:hidden;
		}
		div.draggable-card img{
			width:60px;
			height:auto;
			float:left;
			padding-left:2px;
			padding-top:2px;
			padding-right:5px;
		}
		.ui-draggable-handle{
			cursor:move;
		}
		div#contain{
			width:100%;
			height:620px; 
			overflow-x: hidden;
			overflow-y:scroll; 
			margin-top:10px;
		}
		div#startingblock{
			width:55%; 
			float:left;
		}
		div#lineup{
			width:45%;
			float:left;
		}
		div#lineup table tr{
			height: 104px;
			min-height: 100px;
		}
		.pos{
			min-width:20px; 
			font-size:18px;
			font-weight: bold;
			color:#005ce6;
		}
		.snap-position{
			width: 404px;
			border: dashed 1px #FF3300;
		}
	</style>
</head>


<body onload="BuildCards(1)">

	<div class="container-fluid" style="background-color:#2196F3;color:#fff;height:200px;">
		<h1 class="pull-left">2015 Mets of Queens</h1>
		<a class="pull-right btn-link" style="margin-top:18px" href="/">Home</a>
		<h3 style="clear:both;">Interactive Lineup Builder</h3>
		<p>Before the trade deadline, the Mets had the worst lineup in the majors. Mostly due to injuries, the lineup lacked talent.</p>
		<p>A few days after the deadline, the Mets had a much different look. Fool around with the tool below to see for yourself.</p>
	</div><br>
    
	<div style="margin-left:4px; margin-right:4px;">
		<div class="dropdown" style="float:left;z-index:2;margin-left:8px;">
			<button class="btn btn-primary dropdown-toggle" style="background-color:#2196F3;color:#fff;" id="menu1" type="button" data-toggle="dropdown">Choose a Point in the Season <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" value="1" href="#">Opening Day</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" value="2" href="#">Just before Allstar Break</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" value="3" href="#">After the Trade Dealine</a></li>
			</ul>
		</div>
		<div style="float:left;z-index:2;margin-left:20px;">
			<button type="button" class="btn btn-primary" style="background-color:#2196F3;color:#fff;" onclick="Shuffle()">Shuffle Up</button>
		</div>
		<br><br>
	
		<div id="contain">
			<div id="startingblock"></div>
	
			<div id="lineup">   	
				<table><tbody>
					<tr><td class="pos">1st</td><td class="snap-position"></td></tr>
					<tr><td class="pos">2nd</td><td class="snap-position"></td></tr>
					<tr><td class="pos">3rd</td><td class="snap-position"></td></tr>
					<tr><td class="pos">4th</td><td class="snap-position"></td></tr>
					<tr><td class="pos">5th</td><td class="snap-position"></td></tr>
					<tr><td class="pos">6th</td><td class="snap-position"></td></tr>
					<tr><td class="pos">7th</td><td class="snap-position"></td></tr>
					<tr><td class="pos">8th</td><td class="snap-position"></td></tr>
				</tbody></table>
			</div>
		</div>
	</div>

	<script>
	$(document).ready(function(){
		$('.dropdown-toggle').dropdown();
		$('.dropdown-menu a').click(function(){
			$('.dropdown-menu a').css("color", "#333");
			$(this).css("color", "#337ab7");
			var ptInSeason = $(this).attr('value');
		
			Clear(ptInSeason);
		});
	});

	function Clear(ptInSeason){
		$('#startingblock').empty();
		BuildCards(ptInSeason);
	}

	function BuildCards(ptInSeason){
		$.ajax({
			url: "{{ url_for('static', filename='playerstatlist2015.js') }}",
			cache: false,
			type: "GET",
			dataType: "json",
			success: function(data, textStatus) {
				$.each(data, function(i, field){
					if(field.GAMENO.indexOf(ptInSeason) != -1){
						var id = "draggable-card-" + field.ID;
						var html = '<div id="' + id + '" class="draggable-card ui-widget-content">';
						html = html + '<img src="' + field.IMG + '"/>';
						html = html + '<div><p>' + field.NAME + ', ' + field.POS + '</p></div>';
						html = html + '<div><p>'+ field.STATS + '</p></div>';
						html = html + '</div>';
						$('#startingblock').append(html);
						$( '#' + id ).draggable({ containment: "#contain", snap: ".snap-position", snapMode: "inner", snapTolerance: 16});  //would love to pass this as callback
					}
				});
			}
		});
		Shuffle(); 
	}

	function Shuffle(){
		var container = $('#startingblock'); 
		var nodes = container.children(); 
		var noOfCards = nodes.length; 
		container.empty(); 
	
		var curr = noOfCards; 
		for(var i=0; i < noOfCards; i++) {
			var x = Math.floor(Math.random() * curr);
			var card = nodes[x]; 
			container.append(card);
			nodes.splice(x,1);
			curr = curr - 1; 
		}
	
		$( 'div.draggable-card' ).each(function(){
			$(this).draggable({ containment: "#contain", snap: ".snap-position", snapMode: "inner", snapTolerance: 16});
			$(this).css('left', "auto");
			$(this).css('top', "auto");
		});
	}
	</script>

</body>
</html>
