/* START FULL HEADER */

header#index{
	width:100%;
    height:640px;
    overflow:auto;
}
.bg{
	background: url("images/nyctrain.jpg") no-repeat center bottom fixed;
	background-size:cover;
}
header#index div{
	margin-top:54px;
	margin-left:46%; 
	text-align:center;
	font-weight:bold;
}
nav{
	width:100%;
	height:50px; 
	padding-left:26px;
	background-color:#FFFFFF;
}
.affix{
	/*bootstrap sets position fixed*/
	top:0;  
	width:100%;
}
nav div{
	margin-top:10px;
	padding-right:2px;
	padding-left:6px; 
	float:left;
	font-weight:bold;
}
nav div a::after{
	content: " |";
}
nav div:last-child a::after{
	content: "";
}
nav div a:focus, nav div a:hover{
	font-size:120%;
	text-decoration:none;
}

@media only screen and (min-width:320px) {  
	.bg{
		background: url("images/nyctrain.jpg") no-repeat right top fixed;
	}
	header#index div{
		margin-top:44px;
		margin-left:0px;
	}
	nav{
		height:60px;
		font-size:95%;
	}
	
}

/* END FULL HEADER */



/* START STORY POSTS */

@media only screen and (min-width:320px) 
{  
	.in-story-image{
		float:none;    
		clear:both;
	}

}
@media only screen and (min-width:960px) 
{  
	.in-story-image{
		float:right;    
		clear:both;
	}
}

body{
	font-family:"Segoe UI","Segoe WP",Arial,Sans-Serif;
	font-size:14px;
}
article{
	margin:30px 15px 30px 15px;
    border:solid 2px #004d99;
	border-radius:16px;
    overflow-y:auto;
	background:#f0f5f5;	
}
article .story-start, article .story, article .story-end{
	margin-top:10px;
	padding-top:4px;
	padding-right:8px; 
	padding-bottom:4px;	
	padding-left:10px; 
}
figure{
	margin-top: 10px;
    padding-top:4px;
	padding-bottom:4px;
}
.in-story-image img, .in-story-image figcaption{
	display:block;
	width: 90%;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:4px;
	text-align:center;
	font: 12px Verdana, Geneva, sans-serif; 
	color: #004d99;
}
.story-start{ 
	text-indent:44px; 
}
.story{
	text-indent:25px; 
}
.story-end{
	text-indent:30px; 
}

/* END STORY POSTS */



/* START BACK-TO-TOP WIDGET */

.back-to-top{	
	position:fixed;
	right:100px;
	bottom:70px;
	width:50px;
	height:50px;
	visibility:hidden;
	
	background-color:#004d99; 
	border:solid 2px #004d99;
	border-radius:100px;
	 -moz-border-radius:100px; 
	 -webkit-border-radius:100px; 
	opacity:0.85;
	filter:alpha(opacity=85);
	
	line-height:58px;
	vertical-align:middle;
	text-align:center;
	
	color:#000000;
	font-size:3em;
	font-weight:bold;
	text-decoration:none;
	transition:visibility 1s ease-out;
}
a.back-to-top:focus, a.back-to-top:hover{
	text-decoration:none;
}

/* END BACK-TO-TOP WIDGET */



/* START MODAL WINDOWS FOR IMAGES */

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	cursor:pointer;
	pointer-events: auto;
}
.modalDialog > a > img {
	display:block;
	position: relative;
	margin: 10% auto;
	padding: 12px 20px 12px 20px;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

/* END MODAL WINDOWS FOR IMAGES */





/* START IMAGE BOX DISPLAY FOR GAUNTLET */

#main{
	border: 4px solid #005CB8;
    border-radius: 8px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding:6px;
}
#main img{
	width:100px; 
	height:auto;
	padding:4px;
}
.non-accomplished-image{
	opacity: 0.2;
	filter: alpha(opacity=20);
}

/* END IMAGE BOX DISPLAY FOR GAUNTLET */